<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le pasamos la variable title que le enviamos en el res.render -->
    <title><%- title %></title>

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- Preset CSS -->
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Ahora en EJS internamente apunta a /src/piclic -> y continua a /css/styles.css Termina siendo: /src/public/css/styles.css -->
</head>
<body>