<header>
    <div class="logo">
        <a href="/dashboard/index" class="logo-container">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F48%2F99%2F1f%2F48991f90e9a0eed6f972f7c310bdd3e0.jpg&f=1&nofb=1&ipt=a6e88f3649b5a98ad4e5c37ab7f439dc8c39771e84b6f9754c6e5808454fe861" alt="logo Tiempo de Videojuegos">
        </a>
    </div>

    <ul class="enlaces">
        <li class="enlace">
            <a href="/dashboard/index">
                <span>VER</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/consultar">
                <span>CONSULTAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/crear">
                <span>CREAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/modificar">
                <span>MODIFICAR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/dashboard/eliminar">
                <span>ELIMINAR</span>
            </a>
        </li>
    </ul>

    <form class="form-logout" action="/login/destroy" method="get">
        <input type="submit" value="Cerrar sesion">
    </form>
</header>