<!-- Aca incluimos los fragmentos del <head> y del <header> -->
<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %> 

    <main>

        <section class="form-productos">

            <!-- Formulario de creacion de productos -->
            <div class="form-container">
                <h2> <%= about %> </h2>
                <form id="postProduct-form" class="form-alta">
                    <label for="nameProd">Nombre</label>
                    <input type="text" name="name" id="nameProd" required>
                    
                    <label for="imageProd">Imagen</label>
                    <input type="text" name="image" id="imageProd" required>
                    
                    <label for="categoryProd">Categoria</label>
                    <select name="category" id="categoryProd" required>
                        <option value="videojuego">Videojuego</option>
                        <option value="consola">Consola</option>
                    </select>

                    <label for="descriptionProd">Descripcion</label>
                    <input type="text" name="description" id="descriptionProd" required>
                    
                    <label for="priceProd">Precio</label>
                    <input type="number" name="price" id="priceProd" required>
                    
                    <div>
                        <input type="submit" value="Crear producto">
                    </div>
                </form>
            </div>
            
            <hr>

            <!-- Formulario de creacion de usuarios admin -->
            <div class="form-container">
                <h2>Crear usuarios admin</h2>
                <form id="postUser-form" class="form-alta">
    
                    <!-- Nombre de usuario -->
                  
    
                    <label for="emailUser">Email</label>
                    <input type="text" name="emailUser" id="emailUser" required>
    
                    <label for="passwordUser">Password</label>
                    <input type="password" name="passwordUser" id="passwordUser" required>
                    
                    <div>
                        <input type="submit" value="Crear usuario">
                    </div>
                </form>
            </div>
            

        </section>



        <section class="secccion-productos">
            <div id="contenedor-productos">

            </div>
        </section>
    </main>

    <script src="/js/post.js"></script>
<%- include("partials/footer.ejs") %> 